<div class="work-experience">
  <h1>Work Experience:</h1>
  <i class="fas fa-cloud big"></i>
  <i class="fas fa-cloud medium"></i>
  <img class="airplane" src="../../../assets/images/plane.svg">
  <img class="chicago" src="../../../assets/images/chicago.svg">
  <div class="experience tt">
    <div (click)="openURL('https://tradingtechnologies.com')">
      <h2>Trading Technologies</h2>
      <h3>06/19 - 08/19 & 06/20 - 11/20</h3>
      <h3>Software Engineer</h3>
    </div>
    <img src="../../../assets/images/tt.png">
  </div>
  <div class="experience jkv">
    <div (click)="openURL('https://jkvcapital.com')">
      <h2>JKVCapital</h2>
      <h3>1/21 - Present</h3>
      <h3>Software Consultant</h3>
    </div>
    <img src="../../../assets/images/jkv.png">
  </div>
</div>