<div class="title-screen">
  <i class="fas fa-cloud big"></i>
  <i class="fas fa-cloud medium"></i>
  <h1>Portfolio</h1>
  <h2>By Mark Auger</h2>
  <div class="social">
    <a href="https://linkedin.com/in/mark-auger" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/swimauger" target="_blank"><i class="fab fa-github"></i></a>
    <a href="mailto://swimauger@gmail.com" target="_blank"><i class="fab fa-google"></i></a>
    <a href="https://www.facebook.com/mark.auger.585" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/swimauger" target="_blank"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="scroll-down">
    <p>Scroll Down</p>
    <i class="fas fa-chevron-down"></i>
  </div>
</div>